a, body, div, dl, h1, h2, h3, h4, h5, h6, html, li, ol, p, span, ul {
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
.fl{
    float: left;
}
.fr{
    float:right;
}
.base-row{
    border:1px solid #E4E4E4;
    margin:5px 10px 0;
    .el-table--border{
        border-top: none;
    }
}
.form-input,.el-date-editor.el-input.form-input{
    width: 155px;
}
.baseUpdate-form{
    // margin-left:calc(50% - 125px);
    margin-left:calc(50% - 450px);
    margin-top:20px;
}
.row-botton{
    background-color: #F3F3F3;
    // border-bottom: 1px solid #E4E4E4;
    height: 50px;
    line-height: 50px;
    color: #9D9399;
    padding:0 15px;
    font-size: 14px;
    button{
        // float:right;
        margin:7px 5px;
    }
    .row-title{
        float:left;
    }
    a{
        margin:7px 5px;
        -webkit-user-select:none;

     -moz-user-select:none;

     -ms-user-select:none;

     user-select:none;
    }
    .row-option{
        float:right;
    }
}
.el-table--medium td{
    padding: 5px 0;
}
//树形下拉框文字
.vue-treeselect__label{
    font-weight: normal;
    color: #606266;
  }

//树形下拉框样式
.app-container .vue-treeselect__multi-value-item{
    background: #f0f2f5;
    color: #909399;
    background-color: #F0F2F5;
    border-radius: 4px;
}
.app-container .vue-treeselect__value-remove{
    border-left: 0;
    color:#909399;
}
.app-container .vue-treeselect__limit-tip-text{
    margin: 0;
    padding: 3px 9px;
    color: #909399;
    font-weight: normal;
    background-color: #f0f2f5;
    border-radius: 4px;
}

// 登录样式
.login-container{
    .login-form{
      .el-form-item{
        height: 13%;
        margin-bottom: 6%;
        .el-form-item__content{
          height: 100%;
          .el-input{
              height: 100%;
              input{
                 height: 100%;
              }
          }
        }
      }
    }
    // &.login-email{
    //     .login-form{
    //         .el-form-item{
    //           height: 17%;
    //         }
    //     }
    // }
  }
   .borderG{
           input{
             border-color: #00afff;
           }
         }
           .borderR{
           input{
             border-color: #F56C6C;
           }
         }
.login-container.login-mobile .login-dark .login-demol{
    position: absolute !important;
    width: 80% !important;
    left: 50% !important;
    height: 80% !important; 
    transform: translate(-50%,-50%) !important;
}